<nav>
  <ul>
    <% if (user) { %>
      <li><a href="/auth/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/auth/login">Login</a></li>
    <% } %>
    <li><a href="/">Homepage</a></li>
    <li><a href="/profile">Profile</a></li>
</nav>

<header>
  <h1>Login using</h1>
</header>

<main>
  <a class="google-btn" href="/auth/google">Sign in with Google+</a>
</main>
